@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


html {
  scroll-behavior: auto !important; 
}

body,
.bg-manual {
  background-image: linear-gradient(to right, rgb(142, 195, 202), white);
}

.bg-sla {
  background-image: linear-gradient(to right, rgb(61, 151, 255), white);
  border-radius: 20px;
}

.bg-loyal {
  background: rgb(102, 178, 191);
  border-radius: 12px;

}

.box-cv{
  box-shadow: 10px 10px 5px 12px aqua;
}

/* navbars colors */
.custom-navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0s ease;
}

.navbar-colored {
  background-image: linear-gradient(to right, rgb(142, 195, 202), white) !important;
  transition: background-color 0.3s ease;
}

.navbar-font {
  font-family: poppins;
  font-weight: 600;
  font-size: 30px;
  padding: 1em 2em;
  color: #1372ca;
}

/* heading in home page */
.head-font {
  font-family: poppins;
  color: #003366;

}

.text-font {
  font-family: poppins;
  color: #003366;
  font-size: xx-large;
  font-weight: lighter;

}

.card-font {
  font-family: poppins;
  color: #003366;
  font-size: large;
  font-weight: lighter;

}

.about-text-font {
  font-family: poppins;
  color: #003366;
  font-size: xx-large;

}

/* loyal conatiner height */

.loyal-container {
  min-height: 25rem;

}

/* CTA Button in bottom */
.CTA-font {
  font-family: poppins;
  color: #003366;
  font-size: xx-large;
  font-weight: bolder;

}

.button-colour {
  background-color: #1372ca !important;
  color: white !important;
  font-family: poppins;

}

.button-colour:hover {
  background-color: #003366 !important;

}

.card-color {
  background-color: #1372ca;
}

/* footer color */
.footer-font {
  font-family: poppins;
  color: #003366;
  font-size: large;
  font-weight: bolder;

}

@media (max-width: 768px) {
  .about-text-font {
    font-family: poppins;
    color: #003366;
    font-size: xx-large;
    font-weight: lighter !important;

  }

  .text-font {
    font-family: poppins;
    color: #003366;
    font-size: x-large;
    font-weight: lighter;

  }


  .mob-card {
    margin-left: 2em;
  }

}

.loyal-container {
  height: 25em;
  height: auto;
}